In [22]:
import pandas as pd

In [23]:
df_sale=pd.read_excel('Sale.xlsx')

In [24]:
import datetime
now=datetime.datetime.now()
for i in range(len(df_sale['Date'])):
    if type(df_sale['Date'][i]) is datetime.datetime:
        stamp=df_sale['Date'][i]
        stamp=stamp.strftime('%m-%d-%Y')
        stamp=datetime.datetime.strptime(stamp,'%d-%m-%Y')
        df_sale['Date'][i]=stamp.strftime('%d-%m-%Y')
    else:
        try:
            stamp=datetime.datetime.strptime(df_sale['Date'][i],'%d/%m/%Y')
            df_sale['Date'][i]=stamp.strftime('%d-%m-%Y')
        except:
            wrong_date_time_correct=df_sale['Date'][i].replace(df_sale['Date'][i][:2],str(int(df_sale['Date'][i][:2])-1))
            stamp=datetime.datetime.strptime(wrong_date_time_correct,'%d/%m/%Y')
            df_sale['Date'][i]=stamp.strftime('%d-%m-%Y')

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [12]:
df_sale.dtypes

SaleID          int64
Cust_Key        int64
Date           object
Sales Agent    object
dtype: object

In [13]:
df_sale['Date']=df_sale['Date'].astype(str)

In [14]:
df_sale.dtypes

SaleID          int64
Cust_Key        int64
Date           object
Sales Agent    object
dtype: object

In [19]:
df_sale.to_excel('sale_fix.xlsx',index=None)

In [21]:
print(df_sale)

      SaleID  Cust_Key                 Date Sales Agent
0          1         2  2017-02-01 00:00:00          B1
1          2         3  2017-02-01 00:00:00          D4
2          3         8  2017-02-01 00:00:00          B2
3          4        11  2017-02-01 00:00:00          B2
4          5        16  2017-02-01 00:00:00          B1
5          6        17  2017-02-01 00:00:00          S1
6          7        18  2017-02-01 00:00:00          B1
7          8         1  2017-03-01 00:00:00          M2
8          9        11  2017-03-01 00:00:00          B2
9         10        13  2017-03-01 00:00:00          D3
10        11         8  2017-04-01 00:00:00          B2
11        12        10  2017-04-01 00:00:00          B1
12        13        12  2017-04-01 00:00:00          B2
13        14         3  2017-05-01 00:00:00          S1
14        15        11  2017-05-01 00:00:00          D3
15        16        12  2017-05-01 00:00:00          B2
16        17        15  2017-05-01 00:00:00          S1
17        18         6  2017-06-01 00:00:00          B1
18        19         8  2017-06-01 00:00:00          D4
19        20        17  2017-06-01 00:00:00          D3
20        21        17  2017-06-01 00:00:00          B1
21        22        13  2017-09-01 00:00:00          B1
22        23         2  2017-10-01 00:00:00          S1
23        24        11  2017-10-01 00:00:00          B1
24        25        17  2017-10-01 00:00:00          D1
25        26        17  2017-10-01 00:00:00          S2
26        27        17  2017-10-01 00:00:00          S2
27        28         3  2017-11-01 00:00:00          B1
28        29         3  2017-11-01 00:00:00          B1
29        30         7  2017-11-01 00:00:00          B2
...      ...       ...                  ...         ...
4384    4385         2  2016-07-09 00:00:00          D2
4385    4386         4  2016-07-09 00:00:00          D2
4386    4387         8  2016-07-09 00:00:00          D2
4387    4388        14  2016-07-09 00:00:00          D2
4388    4389        24  2016-07-09 00:00:00          D1
4389    4390         4  2016-08-09 00:00:00          D2
4390    4391        25  2016-08-09 00:00:00          D4
4391    4392        29  2016-08-09 00:00:00          D4
4392    4393         4  2016-09-09 00:00:00          D1
4393    4394         6  2016-09-09 00:00:00          D3
4394    4395         8  2016-09-09 00:00:00          D4
4395    4396        12  2016-09-09 00:00:00          D1
4396    4397        13  2016-09-09 00:00:00          D1
4397    4398        22  2016-09-09 00:00:00          D4
4398    4399         3  2016-12-09 00:00:00          D1
4399    4400         9  2016-12-09 00:00:00          D3
4400    4401         9  2016-12-09 00:00:00          D4
4401    4402        15  2016-12-09 00:00:00          D4
4402    4403        17  2016-12-09 00:00:00          D4
4403    4404        17  2016-12-09 00:00:00          D3
4404    4405        18  2016-12-09 00:00:00          D1
4405    4406         5           13/09/2016          D4
4406    4407        19           13/09/2016          D3
4407    4408        22           13/09/2016          D1
4408    4409         4           14/09/2016          D1
4409    4410         9           14/09/2016          D4
4410    4411        18           14/09/2016          D2
4411    4412        20           14/09/2016          D3
4412    4413        22           14/09/2016          B2
4413    4414        28           14/09/2016          D4

[4414 rows x 4 columns]